#HeadSlider{
  background: linear-gradient(135deg, #ffa84c 0%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.main-header{
  padding: 60px 0px;
  background: #fd7e14;
}

.main-header .devices{
  position: absolute;
  z-index: 2000;
}

.main-header .devices img{
  width: 100%;
}

.carousel-item{
  padding: 12px 50px 0px 50px;
}

.bag1{
	margin: 0;
}
.bag2{
	margin: 0;
	background-color: #ffff;
}
