#HeadSlider{
  background: linear-gradient(135deg, #ffa84c 0%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.main-header{
  padding: 40px 0px 60px 0px;
  background: #fd7e14;
}

.main-header .devices{
  position: absolute;
  z-index: 2000;
}

.main-header .devices img{
  width: 100%;
}

.carousel-inner{
  z-index: 1000;
}

.carousel-item{
  padding: 38px 50px 0px 50px;
}

.bg-drop{
  background: #ffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bag1{
	margin: 0;
}
.bag2{
	margin: 0;
	background-color: #ffff;
}
